.card {
	position: relative;
	margin-top: 92px;
	min-width: 500px;
	background-color: #585858;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 15px;
}
p {
	margin: 0;
}

.picture {
	margin-top: 33px;
	align-items: center;
	flex-direction: column;
	min-width: 430px;
	min-height: 400px;
	background-color: #323232;
	border-radius: 15px;
}

.bottom-card {
	border-radius: 0 0 15px 15px;
	padding-top: 5px;
	padding-left: 15px;
	background-color: #353535;
}

.search-tab {
	margin: auto;
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
}

input {
	margin: 0;
	padding: 0;
	background-color: #444;
	border-radius: 15px 0 0 15px;
	border: none;
	width: 80%;
	height: 40px;
}

::placeholder {
	color: #ffffff;
	padding-left: 20px;
}

button {
	margin: 0;
	padding: 0;
	background-color: #444;
	color: #ffffff;
	width: 15%;
	height: 40px;
	border-radius: 0 15px 15px 0;
	cursor: pointer;
	text-decoration: none;
	border: none;
}

.scroll-div {
	padding: 10px;
}

.scroll-bar {
	max-height: 200px;
	overflow-y: scroll;
	scroll-behavior: smooth;
	scrollbar-width: 5px;
	border-radius: 10px;
}

::-webkit-scrollbar {
	height: 10px;
	width: 10px;
	background: #b0b0b0;
	border-radius: 0 0 15px 15px;
}

::-webkit-scrollbar-thumb {
	background: #5f5f5f;
	-webkit-border-radius: 1ex;
}

.profile {
	display: flex;
	align-items: center;
	gap: 10px;
}

.picture-comment {
	background-color: #444;
	height: 45px;
	width: 45px;
	border-radius: 50%;
}

.post {
	padding-left: 55px;
	border-bottom: 1px solid #dadada;
}

@media screen and (max-width: 1201px) {
	.card {
		border-radius: 15px 0 0 15px;
		display: flex;
		flex-direction: row;
	}
	.top-card {
		display: flex;
		flex-direction: column-reverse;
		margin: 35px;
	}
	.bottom-card {
		min-height: 610px;
		border-radius: 0 15px 15px 0;
	}
	.scroll-bar {
		min-height: 600px;
		overflow-y: scroll;
		scroll-behavior: smooth;
	}
}

@media screen and (max-width: 640px) {
	.card {
		display: flex;
		flex-direction: column;
		border-radius: 15px;
	}

	.top-card {
		display: flex;
		flex-direction: column;
	}

	.bottom-card {
		min-height: 200px;
		padding-top: 5px;
		padding-left: 15px;
		background-color: #353535;
		border-radius: 0 0 15px 15px;
	}
	.scroll-bar {
		min-height: 200px;
		overflow-y: scroll;
		scroll-behavior: smooth;
		border-radius: 10px;
	}
}
